---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Calendar Events" class="">
  <h1>Calendar Events</h1>
  
  <div class="events">
    
  </div>
</Layout>

<style>
  .events {
    max-width: 800px;
    margin: 0 auto;
  }
  .event {
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
</style> 