---

---

<nav class="py-4 bg-white my-4">
    <div class="flex mx-auto items-center justify-center">
        <div class="flex items-center">
            <a href="#" class="flex items-center">
                <img src="/logos/gdpt.svg" alt="Logo" class="h-32 w-auto" />
            </a>
        </div>
    </div>

    <div class="text-center mt-4 uppercase">
        <a
            href="#"
            class="mx-6 text-xl text-gray-600 hover:text-gdpt font-semibold"
            >Home</a
        >
        <a
            href="#"
            class="mx-6 text-xl text-gray-600 hover:text-gdpt font-semibold"
            >About</a
        >
        <a
            href="#"
            class="mx-6 text-xl text-gray-600 hover:text-gdpt font-semibold"
            >Blogs</a
        >
    </div>
</nav>
