---
import GoogleCalendar from "../react/Calendar.jsx";
const CALENDAR_API_KEY = import.meta.env.CALENDAR_API_KEY;
---

<div class="flex max-w-full items-center justify-center my-4">
    <div class="bg-gray-200 w-[90%] rounded-lg p-4">
        <GoogleCalendar client:load CALENDAR_API_KEY={CALENDAR_API_KEY} />
    </div>
</div>
<div class="flex max-w-full items-center justify-center my-4">
    <div class="w-[90%] rounded-lg p-4">
        <GoogleCalendar client:load CALENDAR_API_KEY={CALENDAR_API_KEY} />
    </div>
</div>
